{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Third-Party Login Failure" %}
{% endblock head_title %}
{% block content %}
<div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-md-8 col-lg-6 account-container">
    {% element h1 %}
        {% trans "Third-Party Login Failure" %}
    {% endelement %}
    {% element p %}
        {% trans "An error occurred while attempting to login via your third-party account." %}
    {% endelement %}
    </div>
    </div>
    </div>
{% endblock content %}
