{% load static %}
<h2 class="subtitle mb-4"> Sort </h2>

<select name="sorting" class="sort-selector form-select form-select-sm sort-select" aria-label="Sort product list">
        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by ...</option>
        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price: low-high</option>
        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price: high-low</option>
        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name: A-Z</option>
        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name: Z-A</option>
</select>

<h2 class="subtitle mt-4 mb-4"> Filter</h2>
<form class="mb-4" method="GET" action="{% url 'allproducts' %}" name="filter-form">
        <div class="mb-3">
                <div  class="mb-3 form-check">
                        <input type="checkbox" name="sale"
                               class="checkboxinput form-check-input"
                               id="id_mob_on_promotion">
                        <label for="id_mob_on_promotion" class="form-check-label">
                                On promotion
                        </label>
                </div>
        </div>
        <div class="mb-3">
                <div  class="mb-3 form-check"> <input
                        type="checkbox" name="machine_wash"
                        class="checkboxinput form-check-input"
                        id="id_mob_machine_wash"> <label for="id_mob_machine_wash"
                                                         class="form-check-label">
                                Machine wash
                        </label>
                </div>
        </div>
        <div class="mb-3">
                <div class="mb-3 form-check"> <input
                        type="checkbox" name="natural"
                        class="checkboxinput form-check-input"
                        id="id_mob_natural_fibres"> <label for="id_mob_natural_fibres"
                                                           class="form-check-label">
                                Natural fibres
                        </label>
                </div>
        </div>
        <div class="accordion filter-acc">
                <div  class="mb-3 accordion-item">
                        <a class="accordion-button uppercase-text dropdown-toggle collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseOneAM" aria-expanded="false" aria-controls="collapseOneAM">
                                <span class="form-label">
                                        Brand
                                </span>
                        </a>
                        <div id="collapseOneAM" class="accordion-collapse collapse">
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="brand"
                                                                value="drops" id="id_mob_brand_id_0"> <label
                                        for="id_mob_brand_id_0" class="form-check-label">
                                        DROPS
                                </label> </div>

                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="brand"
                                                                value="sirdar" id="id_mob_brand_id_1"> <label
                                        for="id_mob_brand_id_1" class="form-check-label">
                                        Sirdar
                                </label> </div>

                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="brand"
                                                                value="stylecraft" id="id_mob_brand_id_2"> <label
                                        for="id_mob_brand_id_2" class="form-check-label">
                                        Stylecraft
                                </label> </div>

                        </div>
                </div>
                <div class="mb-3 accordion-item">
                        <a class="accordion-button uppercase-text dropdown-toggle collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseTwoAM" aria-expanded="false" aria-controls="collapseTwoAM">
                                <span class="form-label">
                                        Thickness
                                </span></a>
                        <div id="collapseTwoAM" class="accordion-collapse collapse"
                        >
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="thickness"
                                                                value="2" id="id_mob_thickness_id_0"> <label
                                        for="id_mob_thickness_id_0"
                                        class="form-check-label">
                                        2 ply
                                </label> </div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="thickness"
                                                                value="4" id="id_mob_thickness_id_2"> <label
                                        for="id_mob_thickness_id_2"
                                        class="form-check-label">
                                        4 ply
                                </label> </div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="thickness"
                                                                value="DK" id="id_mob_thickness_id_6"> <label
                                        for="id_mob_thickness_id_6"
                                        class="form-check-label">
                                        Double Knit
                                </label></div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="thickness"
                                                                value="aran" id="id_mob_thickness_id_4"> <label
                                        for="id_mob_thickness_id_4"
                                        class="form-check-label">
                                        Aran
                                </label> </div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="thickness"
                                                                value="chunky" id="id_mob_thickness_id_5"> <label
                                        for="id_mob_thickness_id_5"
                                        class="form-check-label">
                                        Chunky
                                </label> </div>

                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="thickness"
                                                                value="chunky" id="id_mob_thickness_id_7"> <label
                                        for="id_mob_thickness_id_7"
                                        class="form-check-label">
                                        Super Chunky
                                </label> </div>
                        </div>
                </div>

                <div  class="mb-3 accordion-item">
                        <a class="accordion-button uppercase-text dropdown-toggle collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseThreeAM" aria-expanded="false" aria-controls="collapseThreeAM">
                                <span class="form-label">
                                        Fibre
                                </span></a>
                        <div id="collapseThreeAM" class="accordion-collapse collapse"
                        >
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="fibre"
                                                                value="Alpaca" id="id_mob_fibre__icontains_0">
                                        <label for="id_mob_fibre__icontains_0"
                                               class="form-check-label">
                                                Alpaca
                                        </label> </div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="fibre"
                                                                value="Acrylic" id="id_mob_fibre__icontains_1">
                                        <label for="id_mob_fibre__icontains_1"
                                               class="form-check-label">
                                                Acrylic
                                        </label> </div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="fibre"
                                                                value="Cotton" id="id_mob_fibre__icontains_2">
                                        <label for="id_mob_fibre__icontains_2"
                                               class="form-check-label">
                                                Cotton
                                        </label> </div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="fibre"
                                                                value="Merino" id="id_mob_fibre__icontains_3">
                                        <label for="id_mob_fibre__icontains_3"
                                               class="form-check-label">
                                                Merino
                                        </label> </div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="fibre"
                                                                value="Wool" id="id_mob_fibre__icontains_4">
                                        <label for="id_mob_fibre__icontains_4"
                                               class="form-check-label">
                                                Wool
                                        </label> </div>
                        </div>
                </div>
                <div class="mb-3 accordion-item">
                        <a class="accordion-button uppercase-text dropdown-toggle collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseFourAM" aria-expanded="false" aria-controls="collapseFourAM">
                                <span class="form-label">
                                        Price Range
                                </span></a>
                        <div id="collapseFourAM" class="accordion-collapse collapse"
                        >
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="price"
                                                                value="(0,2)" id="id_mob_price_id_0"> <label
                                        for="id_mob_price_id_0"
                                        class="form-check-label">
                                        £0-£2.00
                                </label> </div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="price"
                                                                value="(2,4)" id="id_mob_price_id_2"> <label
                                        for="id_mob_price_id_2"
                                        class="form-check-label">
                                        £2.01-£4.00
                                </label> </div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="price"
                                                                value="(4,6)" id="id_mob_price_id_6"> <label
                                        for="id_mob_price_id_6"
                                        class="form-check-label">
                                        £4.01-£6.00
                                </label></div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="price"
                                                                value="(6,10)" id="id_mob_price_id_4"> <label
                                        for="id_mob_price_id_4"
                                        class="form-check-label">
                                        £6.01-£10.00
                                </label> </div>
                                <div class="form-check"> <input type="radio"
                                                                class="form-check-input" name="price"
                                                                value="(10,20)" id="id_mob_price_id_5"> <label
                                        for="id_mob_price_id_5"
                                        class="form-check-label">
                                        £10.01+
                                </label> </div>
                        </div>
                </div>
        </div>
        <div class="text-center mt-4">
                <button type="submit" class="btn btn-main" > Filter</button>
        </div>
</form>
