{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign Up Closed" %}
{% endblock head_title %}
{% block content %}
<div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-md-8 col-lg-6 account-container">
    {% element h1 %}
        {% trans "Sign Up Closed" %}
    {% endelement %}
    {% element p %}
        {% trans "We are sorry, but the sign up is currently closed." %}
    {% endelement %}
    </div>
    </div>
    </div>
{% endblock content %}
