{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titlehead %} Get in touch {% endblock %}



{% block content %}
<div class="container">
<div class="row">
    <h1 class="page-head-text"> Get in touch! </h1>
</div>
<div class="row align-content-center">
    <div class="col-12 col-md-6">
        <form>
            {{ form|crispy }}
            {% csrf_token %}
        </form>
    </div>
    <div class="col-12 col-md-6">
        <img class="contact-page-image" src="{{ top_image.image.url }}" alt="{{ top_image.alt_text }}">
    </div>
</div>

<div class="row align-content-center">
    <div class="col-12 col-md-6  order-md-2">
        <p class="uppercase-text"> Contact us:</p>
            <p > <i class="fa-solid fa-envelope"></i> {{ contact.shop_email }}</p>
            <p > <i class="fa-solid fa-phone-flip"></i> {{ contact.shop_phone }}</p>
            <p > <i class="fa-solid fa-location-dot"></i> </p>
            <p >  {{ contact.shop_streeet_address1 }}</p>
            <p >  {{ contact.shop_streeet_address2 }}</p>
            <p >  {{ contact.shop_town }}</p>
            <p >  {{ contact.shop_county }}</p>
            <p >  {{ contact.shop_postcode }}</p>
    </div>
    <div class="col-12 col-md-6 order-md-1">
        <img class="contact-page-image" src="{{ bottom_image.image.url }}" alt="{{ bottom_image.alt_text }}">
    </div>
</div>
</div>


{% endblock content %}