/* Imported fonts from Google font 
'Dancing Script' for logo font
'Montserrat Alternatives' for majority of text 
*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Variables */
:root {
    --primary-font:'Montserrat Alternates', sans-serif;
    --heading-font: 'Dancing Script', sans-serif;
    --primary-background-color: #fff;
    --primary-text-color: #2c0f06;
    --hyperlink-color: #990099;
    --hyperlink-hover-color: #009999;
    --decorative-color: #06b1a0; 
    --background-highlight-color: #c4b031;
    --error-color: #b44145; 
    --success-color: #448848; 
    --shadow-color: #e9e7de;
    --shadow-semi:#e9e7deaa;
}

/* Generic style rules*/
html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    margin-top:8rem;
    color: var(--primary-text-color);
    font-family: var(--primary-font);
}


a{
    color: var(--hyperlink-color);
}

a:hover {
    color:var(--hyperlink-hover-color);
}
.small-text{
    font-size: 1.2rem;
}

.uppercase-text{
    text-transform: uppercase;
}

.form-control{
    font-size:1.6rem;
}

.form-control:focus{
    border-color:var(--primary-text-color);
    box-shadow: 0 0 0 0.25rem var(--shadow-color) ;
}
.search-box{
    border:1px solid var(--primary-text-color);
}

.search-sudo-button{
    padding-top:0.5rem;
}

.search-sudo-button:hover{
    color:var(--hyperlink-hover-color);
}

.btn-secondary{
    color:var(--primary-text-color);
    font-size: 1.6rem;
    border:1px solid var(--primary-text-color);
    background-color: var(--primary-background-color);
}

.btn-secondary:hover{
    color:var(--primary-text-color);
    border:1px solid var(--primary-background-color);
    background-color: var(--primary-background-color);
}

.table>:not(caption)>*>*{
    color:var(--primary-text-color);
}
th .table{
    color:var(--primary-text-color);
}


/* Announcement banner */
#announcements{
    background-color: var(--primary-text-color);
    color:var(--primary-background-color);
    text-transform: uppercase;
    text-align: center;
}
#announcements p{
    margin-bottom:0.2rem;
    margin-top:0.2rem;
    font-size: 0.9rem;
}

/* Nav bar */

#header-logo{
    height:5rem;
    padding-left: 4rem;
}

nav #menu-account{
    width:10vw;
}

    nav .dropdown-menu{
    width:80vw;
    height:auto;
    padding:2rem;
    border: none;
    border-radius:2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.25rem var(--shadow-color);
    font-size:1.6rem;
    }
    nav .dropdown-menu[data-bs-popper]{
    margin-top:0.5rem;
    left:-5vw;
    }

.nav-icon{
    font-size:2.4rem;
} 

.nav-link{
    color:var(--primary-text-color);
    font-size:1.6rem;
}

.nav-link:hover{
    color:var(--hyperlink-hover-color);
}

.dropdown-item{
    padding:0;
}

.dropdown-item:hover{
    background-color: var(--shadow-semi);
    color:var(--hyperlink-hover-color);
}

li .sub-menu-item{
    list-style: none;
    font-size: 1.2rem;
}

#basket{
    padding-right:2rem;
    padding-left:2rem;
}

.basket-counter{
    background-color: var(--hyperlink-hover-color);
    color:var(--primary-background-color);
}

.navbar{
    margin-top:2.2rem;
}

.box {
    position:fixed;
    z-index: -1;
    top:5rem;
    background-image:linear-gradient(180deg, var(--shadow-semi), transparent);
    height:8rem;
    /* mask comes from CSS Gnerators */
  mask: 
    radial-gradient(68.82px at 50% 96px,#000 99%,#0000 101%) calc(50% - 80px) 0/160px 100%,
    radial-gradient(68.82px at 50% -56px,#0000 99%,#000 101%) 50% 40px/160px 100% repeat-x;
}

/*mobile and tablet menus */

nav .exp-h{
    width:fit-content;
    height:fit-content;
    padding-left:2rem;
    padding-top:4rem;
    padding-right:5rem;
    padding-bottom:5rem;
    border: none;
    border-radius:2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.25rem var(--shadow-color);
    font-size:1.6rem;
    position: fixed;
    top:6rem;
    left:0;
}

#user-toggle-reveal{
    display: none;
}
#user-toggle-reveal.show{
    display:block;
}

/* Footer */

.footer{
    height:4rem;
    position: relative;
}

#footer-base{
    background-color: var(--primary-text-color);
    padding-top:0.4rem;
    color:var(--primary-background-color);
    font-size: 1rem;
}

.footer-icon{
    color:var(--primary-background-color);
    padding-left:2rem;
    font-size:1.6rem;
}
.footer-icon:hover{
    color:var(--background-highlight-color);
}
.footer-box {
    position:absolute;
    z-index: -1;
    bottom:2rem;
    background-image:linear-gradient(180deg, transparent, var(--shadow-semi));
    height:8rem;
    /* mask comes from CSS Gnerators */
  mask: 
    radial-gradient(68.82px at 50% calc(100% - 96px),#000 99%,#0000 101%) calc(50% - 80px) 0/160px 100%,
    radial-gradient(68.82px at 50% calc(100% + 56px),#0000 99%,#000 101%) 50% calc(100% - 40px)/160px 100% repeat-x;
}

/* Delivery modal*/
.fade{
    background-color: var(--shadow-semi);
}

/* Media Queries */
/* for sizes md and above in Bootstrap */
@media screen and (min-width:576px){
    #announcements p{
        font-size: 1.2rem;
    }

    nav #expand-hamburger{
        width:10vw;
        padding-right:3rem;
    }


}
/* for sizes lg and above in Bootstrap */
@media screen and (min-width:992px){

}