{% load static %}

<a href="{% url 'productdetail' item.col_var.product_id.slug %}" aria-label="takes you to a page with details about
                                                            {{ item.col_var.product_id.name }}">
                                        <span class="uppercase"> {{ item.col_var.product_id.brand_id.name }}
                                        </span> {{ item.col_var.product_id.name }},
                                        {{ item.col_var.product_id.skein_weight }}g
                                    </a>
                                    <p class="very-small-text">{{ item.col_var.product_id.thickness_id.name}}, {{item.col_var.product_id.fibre}}
                                        <br>
                                        {{ item.col_var.colour_cat_id.colour_name|capfirst }} ({{ item.col_var.shade_code }}|{{ item.col_var.dye_lot }})
                                    </p>