{% load static %}

                                    <form class="form update-form" method="POST" action="{% url 'update_basket' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <button class="decrement-qty btn btn-main " type="button"
                                                    data-item-id-minus="{{ item.item_id }}">
                                                <span >
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                            <input class="form-control qty-input" type="number" name="quantity"
                                                   value="{{ item.quantity }}"  min="1"  data-item_id="{{ item.item_id }}"
                                                   {% if item.col_var.low_stock %}
                                                       max="10"
                                                   {% else %}
                                                       max="50"
                                                   {% endif %}
                                            >
                                            <button class="increment-qty btn btn-main " type="button"
                                                    data-item-id-plus="{{ item.item_id }}">
                                                <span >
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>

                                        </div>
                                    <div class="row justify-content-between mt-4 ms-1 me-1">
                                        <div class="col-6">
                                            <a class="update"><i class="fa-solid fa-arrows-rotate"></i></a>
                                        </div>
                                        <div class="col-6 text-end">
                                            <a class="remove" data-csrf="{{ csrf_token }}" data-item-id-delete="{{ item.item_id }}" ><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                    </form>
                                    