<footer class="mt-auto footer container-fluid">
        <div class="row align-items-center">
            <div class="text-center">
                <a href="https://www.instagram.com" target="_blank"
                    aria-label="Visit my Instagram page (opens in a new tab)" rel="noopener"><i
                        class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.facebook.com" target="_blank"
                    aria-label="Visit my Facebook page (opens in a new tab)" rel="noopener"><i
                        class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.ravelry.com/" target="_blank"
                    aria-label="Visit my Ravelry profile (opens in a new tab)" rel="noopener"><i
                        class="fa-brands fa-ravelry"></i></a>
            </div>
        </div>
    </footer>