{% load static %}

<nav class="navbar navbar-expand-lg fixed-top d-none d-lg-block ">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.webp' %}" alt="Loopy yarn shop logo" id="header-logo" class="d-none d-lg-block"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mt-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop Yarn
          </a>
          <ul class="dropdown-menu">
            <div class=" row mb-4">
              <div class="col-lg-6 ">
                <li><a class="dropdown-item" href="{% url 'allproducts' %}" aria-label="go to a list of all yarns for sale">All yarn</a></li>
                <li><a class="dropdown-item" href="{% url 'allproducts' %}?sale=true" aria-label="filter to show only yarn on promotion">Promotions</a></li>
              </div>

              <div class="col-lg-3">
                <form class="d-flex" role="search" method="GET" action="{% url 'allproducts' %}">
                  <input class="form-control me-2 search-box" type="search" name="q" placeholder="Find your yarn!" aria-label="Search">
                  <span class="search-sudo-button" type="submit"><i class="fa-solid fa-magnifying-glass nav-icon"></i></span>
                </form>
              </div>

            </div>
            <div class="row mt-4">
              <div class="col-lg-3">
                <li class="uppercase-text">Brands</li>
                <ul>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?brand=drops" aria-label="Filter to show only yarn with brand 'Drops'">Drops</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?brand=sirdar" aria-label="Filter to show only yarn with brand 'Sirdar'">Sirdar</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?brand=stylecraft" aria-label="Filter to show only yarn with brand 'Stylecraft'">Stylecraft</a></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <li class="uppercase-text">Thickness</li>
                <ul>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?thickness=2" aria-label="filter to show only yarn with thickness 2 ply">2 ply</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?thickness=4" aria-label="filter to show only yarn with thickness 4 ply">4 ply</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?thickness=DK" aria-label="filter to show only yarn with thickness double knit">Double Knit</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?thickness=Aran" aria-label="filter to show only yarn with thickness aran">Aran</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?thickness=Chunky" aria-label="filter to show only yarn with thickness chunky"> Chunky</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?thickness=super" aria-label="filter to show only yarn with thickness super chunky"> Super Chunky</a></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <li class="uppercase-text">Fibre</li>
                <ul>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?fibre=Alpaca" aria-label="filter to show only yarn containing alpaca yarn"> Alpaca</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?fibre=Acrylic" aria-label="filter to show only yarn containing acrylic yarn">Acrylic</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?fibre=Cotton" aria-label="filter to show only yarn containing cotton">Cotton</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?fibre=Merino" aria-label="filter to show only yarn containing merino wool">Merino</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?fibre=Wool" aria-label="filter to show only yarn containing wool">Wool</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?natural=true" aria-label="filter to show only yarn made from natural sources"> 100% Natural fibres</a></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <li class="uppercase-text">Price</li>
                <ul>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?colour=multi" aria-label="filter to show only varigated coloured yarn"> Multi</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?colour=grey,brown,beige" aria-label="filter to show only yarn containing acrylic yarn">Neutral (greys, browns)</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?colour=blue" aria-label="filter to show only yarn containing cotton">Blue</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?colour=green" aria-label="filter to show only yarn containing merino wool"> Green</a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?colour=red,pink,purple" aria-label="filter to show only yarn containing wool">Reds (red, pink, purple) </a></li>
                  <li class="sub-menu-item"><a class="dropdown-item" href="{% url 'allproducts' %}?colour=yellow,orange" aria-label="filter to show only yarn made from natural sources"> Yellows (yellow, orange) </a></li>
                </ul>
              </div>
            </div>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-label="">Gift Vouchers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'contact_page' %}" 
          aria-label="Goes to a page where you can get in touch with the business owners">Get in Touch</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto me-4">
        <li class="nav-item dropdown mt-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-user nav-icon"></i>
          </a>
          <ul class="dropdown-menu" id="menu-account">
            {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="#" aria-label="Goes to account page with account information,
                                                                past orders and favourites">My Account</a></li>
              {% if user.is_staff %}
                <li><a class="dropdown-item" href="#" aria-label="goes to shop management area">Shop Management</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'account_logout' %}" aria-label="Logout of my account">Logout</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'account_login' %}" aria-label="Login to your Loopy yarns account">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'account_signup' %}" aria-label="Register for a Loopy yarns account">Register</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item mt-2 mb-2" id="basket">
          <a class="nav-link " aria-label=""><span><i class="fa-solid fa-basket-shopping position-relative nav-icon">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill basket-counter small-text">
              0
              <span class="visually-hidden">Number of items in your basket </span>
            </span>
          </i></span></a>
        </li>
      </ul>

    </div>
  </div>


</nav>
<div class="container-fluid box">
</div>

