{% load static %}

<nav>
        <div class="container-fluid fixed-top d-block d-lg-none" id="mobile-nav">
                <div class="row justify-content-between">
                        <div class="col-6 text-start">
                                <a data-bs-toggle="offcanvas" href="#expand-hambuger" role="button"
                                        aria-controls="expand-hambuger">
                                        <span id="mobile-hamburger"><i class="fa-solid fa-bars nav-icon"></i></span>
                                </a>
                        </div>
                        <div class="col-6 text-end" id="basket">
                                <a href="#" aria-label="">
                                        <span>
                                                <i class="fa-solid fa-basket-shopping position-relative nav-icon">
                                                        <span class="position-absolute top-0 start-100 
                                                        translate-middle badge rounded-pill basket-counter 
                                                        small-text">0
                                                                <span class="visually-hidden">
                                                                        Number of items in your basket
                                                                </span>
                                                        </span>
                                                </i>
                                        </span>
                                </a>
                        </div>
                </div>
        </div>
        <div class="container-fluid box">
        </div>
</nav>

<div class="offcanvas offcanvas-start" id="expand-hambuger" tabindex="-1" aria-label="mobile menu"
        data-bs-scroll="true">
        <div class="container">
                <div class="row text-end">
                        <div class="col-6 ms-auto">
                                <img src="{% static 'images/logo.webp' %}" alt="Loopy yarn shop logo"
                                        id="mob-header-logo"></a>
                        </div>
                        <div class="col-6">
                                <a type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i
                                                class="fa-solid fa-x"></i></a>
                        </div>
                </div>
                <div class="row">
                        <div class="col-12">

                        </div>
                        <div class="col-12">
                                <p class="dropdown-item"><a href="{% url 'home' %}"
                                                aria-label="takes you to the home page">
                                                <i class="fa-solid fa-house nav-icon me-4"></i>Home</a>
                                </p>
                        </div>

                        <hr class="mt-2 mb-4">

                </div>
                <div class="row" id="yarn-menu-mobile">
                        <div class="col-12">
                                <p class="dropdown-item"> Shop yarn <i class="fa-solid fa-arrow-right ms-4"></i>
                                </p>
                                <hr class="mt-2 mb-4">
                        </div>
                </div>
                <div class="row">
                        <div class="col-12">
                                <p><a class="dropdown-item" href="#" aria-label="takes you to buy a gift voucher"> Gift
                                                vouchers</a></p>
                                <hr class="mt-2 mb-4">
                        </div>
                </div>
                <div class="row">
                        <div class="col-12">
                                <p><a class="dropdown-item" href="#" aria-label="takes you to our contact page">
                                                Get in touch!</a>
                                </p>
                                <hr class="mt-2 mb-4">
                        </div>
                </div>
                <div class="row mt-2">
                        <div class="col-12 dropdown">
                                <a class="dropdown-toggle" href="#" role="button" aria-expanded="false"
                                        data-bs-toggle="dropdown"><i class="fa-regular fa-user nav-icon"></i></a>
                                <ul class="dropdown-menu mt-4">
                                        {% if user.is_authenticated %}
                                        <li><a class="dropdown-item small-text" href="#" aria-label="Goes to account page with account information,
                 past orders and favourites">My Account</a></li>
                                        {% if user.is_staff %}
                                        <li><a class=" dropdown-item small-text" href="#"
                                                        aria-label="goes to shop management area">Shop Management</a>
                                        </li>
                                        {% endif %}
                                        <li><a class="dropdown-item small-text" href="{% url 'account_logout' %}"
                                                        aria-label="Logout of my account">Logout</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item small-text" href="{% url 'account_login' %}"
                                                        aria-label="Login to your Loopy yarns account">Login</a></li>
                                        <li><a class="dropdown-item small-text" href="{% url 'account_signup' %}"
                                                        aria-label="Register for a Loopy yarns account">Register</a>
                                        </li>
                                        {% endif %}
                                </ul>
                        </div>
                </div>
        </div>
</div>





<!-- <hr class="mb-2 mt-2">
        <div class="d-block d-md-none mt-4 dropdown">
                <a id="user-toggle" class="dropdown-toggle" href="#" role="button" aria-expanded="false"
                        data-bs-toggle="dropdown"><i class="fa-regular fa-user nav-icon"></i></a>
        </div>
         -->

</div>