{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load tag-tools %}

{% block titlehead %} Yarn Shop {% endblock %}

{% block extracss %}
        <link rel="stylesheet" href="{% static 'product/css/product.css' %}">
{% endblock %}

{% block page_header %}
        <div class="top-padding">
        </div>
{% endblock %}


{% block content %}

        <div class="container p-4">
                <div class="row justify-content-end">
                        <div class="col-12 col-md-8 col-lg-4">
                                <form class="d-flex" role="search" method="GET" action="">
                                        <input class="form-control me-2 search-box" type="search" name="q"
                                               placeholder="Find your yarn!" aria-label="Search">
                                        <span class="search-sudo-button" type="submit"><i
                                                class="fa-solid fa-magnifying-glass nav-icon"></i></span>
                                </form>
                        </div>
                </div>
                <div class="row p-4">
                        <div class="col-12">
                                <h1 class="page-heading"> Yarn shop </h1>
                        </div>
                </div>

                <div class="row d-block d-lg-none">
                        <div class="col-6">
                        <!--filter-->
                                button to open up filter options
                        </div>
                        <div class="col-6">
                        <!--filter-->
                                sort drop down
                        </div>
                </div>

                <div class="row justify-content-start">
                        <div class="col-12">
                                <p class="small-text"> X yarns for {{ filters }} <a>reset</a></p>
                        </div>
                </div>
                <div class="row">
                        <div class=" d-none d-lg-block col-lg-3">
                                <div class="col-11">
                                        <form method="GET" action="{% url 'allproducts' %}" name ="extended-filter">
                                                {{ form|crispy }}
                                                
                                                <button type="submit" class="btn btn-main" > Filter</button>
                                        </form>
                                        <div class=" accordion" id="mob-yarn-filter-accord">
                                                <div class="accordion-item">
                                                        <a class="accordion-button uppercase-text dropdown-toggle" type="button" data-bs-toggle="collapse"
                                                           data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                                Brands
                                                        </a>
                                                        <div id="collapseOne" class="accordion-collapse collapse"
                                                             data-bs-parent="#mob-yarn-filter-accord">
                                                                <ul class="accord-list">
                                                                        <li><a class="text-small" href="#"
                                                                               aria-label="Filter to show only yarn with brand 'Drops'">Drops</a>
                                                                        </li>
                                                                        <li><a class="text-small" href="#"
                                                                               aria-label="Filter to show only yarn with brand 'Sirdar'">Sirdar</a>
                                                                        </li>
                                                                        <li><a class="text-small" href="#"
                                                                               aria-label="Filter to show only yarn with brand 'Stylecraft'">Stylecraft</a>
                                                                        </li>
                                                                </ul>
                                                        </div>
                                                </div>
                                                <div class="accordion-item">
                                                        <a class="accordion-button uppercase-text dropdown-toggle" type="button" data-bs-toggle="collapse"
                                                           data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                Thickness
                                                        </a>
                                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                                             data-bs-parent="#mob-yarn-filter-accord">
                                                                <ul class="accord-list">
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only 2 ply yarn">2 ply</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only 4 ply yarn">4 ply</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only double knit yarn">Double
                                                                                knit</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only aran">Aran</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only chunky yarn">Chunky</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only super chunky yarn">Super
                                                                                Chunky</a>
                                                                        </li>
                                                                </ul>
                                                        </div>
                                                </div>
                                                <div class="accordion-item">
                                                        <a class="accordion-button uppercase-text dropdown-toggle " type="button" data-bs-toggle="collapse"
                                                           data-bs-target="#collapseThree" aria-expanded="false"
                                                           aria-controls="collapseThree">
                                                                Fibre
                                                        </a>
                                                        <div id="collapseThree" class="accordion-collapse collapse"
                                                             data-bs-parent="#mob-yarn-filter-accord">
                                                                <ul class="accord-list">
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only alpaca yarn">Alpaca</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only acrylic yarn">Acrylic</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only cotton yarn">Cotton</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only merino yarn">Merino</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only wool yarn">Wool</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only natural yarn">100%
                                                                                Natural
                                                                                fibres</a>
                                                                        </li>
                                                                </ul>
                                                        </div>
                                                </div>
                                                <div class="accordion-item">
                                                        <a class="accordion-button uppercase-text dropdown-toggle" type="button" data-bs-toggle="collapse"
                                                           data-bs-target="#collapseFour" aria-expanded="false"
                                                           aria-controls="collapseFour">
                                                                Colour
                                                        </a>
                                                        <div id="collapseFour" class="accordion-collapse collapse"
                                                             data-bs-parent="#mob-yarn-filter-accord">
                                                                <ul class="accord-list">
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only varigated coloured yarn">Multi</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only neutral coloured yarn">Neutral</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only blue yarn">Blue</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only green yarn">Green</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only red yarn">Red</a>
                                                                        </li>
                                                                        <li><a class="small-text" href="#"
                                                                               aria-label="Filter to show only yellow yarn">Yellow</a>
                                                                        </li>
                                                                </ul>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-1 vr me-2"></div>
                        </div>
                        <div class="col-12 col-lg-9">
                                <div class="row">
                                        {% for product in product_list %}
                                        {% if product.visible %}
                                                <div class="col-12 col-md-6 col-lg-4 text-center">

                                                        <div class="card">
                                                                <a class="card-link" href="#"
                                                                   aria-label="takes you to a page where you can find out more information about {{ product.name }}">
                                                                        <img src="{{ product.image.url }}" class="card-img-top position-relative product-page-images"
                                                                             alt=" A picture of {{ product.name }}">
                                                                        {% if product.on_promotion %}
                                                                                <span class="position-absolute translate-middle sale-ticket"><i class=" sale-icon fa-solid fa-tags"></i>
                                                                                        <span class="visually-hidden"> On promotion</span>
                                                                                </span>
                                                                        {% endif %}
                                                                        <div class="card-body">
                                                                                <p><span class="uppercase-text"><strong>{{ product.brand_id.name }}</strong></span>
                                                                                        {{ product.name }}</p>
                                                                                <p class="small-text">{{ product.skein_weight }}g / {{ product.thickness_id.name }} / {{ product.fibre }}</p>
                                                                                <p>
                                                                                        {% if product.on_promotion %}
                                                                                        <span class="small-text pre-sale-price">£{{ product.price }} </span>
                                                                                         <span class="sale-price"> £{{ product.price|discount:rate.sale_percent|floatformat:2 }}</span>
                                                                                        {% else %}
                                                                                        <strong>£{{ product.price }}</strong>
                                                                                        {% endif %}
                                                                                </p>
                                                                                {{ product.product.colour_cat_id.shade_type_id.name }}
                                                                        </div>
                                                                </a>
                                                        </div>

                                                </div>
                                        {% endif %}
                                        {% endfor %}
                                </div>
                        </div>

                </div>
                <div class="row mb-4">
                        {% if is_paginated %}
                                <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center my-4">
                                                {% if page_obj.has_previous %}
                                                        <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-second"> &laquo;
                                                                PREVIOUS</a></li>
                                                {% endif %}
                                                {% if page_obj.has_next %}
                                                        <li><a href="?page={{ page_obj.next_page_number }}" class=" btn btn-second"> NEXT &raquo;</a>
                                                        </li>
                                                {% endif %}
                                        </ul>
                                </nav>
                        {% endif %}
                </div>
        </div>


{% endblock %}

{% block extrapostjs %}
{% endblock %}