{% extends 'base.html' %}
{% load static %}
{% load tag-tools %}


{% block titlehead %} Yarn Shop {% endblock %}

{% block extracss %}
        <link rel="stylesheet" href="{% static 'product/css/product.css' %}">
{% endblock %}

{% block page_header %}
        <div class="top-padding">
        </div>
{% endblock %}


{% block content %}

        <div class="container p-4">
                <div class="row justify-content-sm-center justify-content-lg-between mb-4">
                        <div class="col-12 col-sm-8 col-lg-4 order-lg-last mb-4 mb-lg-0">
                                <form class="d-flex" role="search" method="GET" action="{% url 'allproducts' %}">
                                        <input class="form-control me-2 search-box" type="search" name="q"
                                               placeholder="Find your yarn!" aria-label="Search">
                                        <span class="search-sudo-button" type="submit"><i
                                                class="fa-solid fa-magnifying-glass nav-icon"></i></span>
                                </form>
                        </div>

                        <div class="col-12 col-lg-6 order-lg-first mt-4 mt-lg-0">
                                <div class="row  align-items-end justify-content-center justify-content-lg-start">
                                        <div class="col-3 ">
                                                <img src="{% static 'images/balls-in-a-line.png'%}" alt="illustration of balls of wool" class="all-products-head">
                                        </div>
                                        <div class="col-9 col-sm-5 col-md-4 col-lg-9">
                                                <h1 class="page-heading ms-4 ms-sm-0"> Yarn shop </h1>
                                        </div>
                                </div>

                        </div>
                </div>

                <div class="row d-block d-lg-none">
                        <div class="col-12 text-end">
                                <a class="btn btn-second" data-bs-toggle="offcanvas"
                                   href="#mob-filter-sort" role="button"
                                   aria-label="opens filter and sort menu"> <i class="fa-solid fa-arrow-down-wide-short"></i> Filter  | Sort </a>
                        </div>
                </div>

                <div class="row mt-4">
                        <div class=" d-none d-lg-block col-lg-3">

                                <div class="col-12 filter-column">
                                        {% include 'product/includes/filter-and-sort.html' %}
                                </div>

                        </div>
                        <div class="col-12 col-lg-9">
                                <div class="row">
                                        <div class="col-8">
                                                <p class="small-text">
                                                        {% if current_brand %}
                                                                <a class=" rounded-pill sort-pill"
                                                                   href="{% url 'allproducts'%}?brand={{ current_brand }}"
                                                                   aria-label="takes you to products with Brand = {{ current_brand }}">
                                                                        Brand = {{ current_brand }}
                                                                </a>
                                                        {% endif %}

                                                        {% if current_fibres %}
                                                                <a class=" rounded-pill sort-pill"
                                                                   href="{% url 'allproducts'%}?fibre={{ current_fibres }}"
                                                                   aria-label="takes you to products with Fibre = {{ current_fibres }}">
                                                                        Fibre = {{ current_fibres }}
                                                                </a>
                                                        {% endif %}
                                                        {% if current_thickness %}
                                                                <a class=" rounded-pill sort-pill"
                                                                   href="{% url 'allproducts'%}?thickness={{ current_thickness }}"
                                                                   aria-label="takes you to products with Thickness = {{ current_thickness }}">
                                                                        {% if current_thickness == "2" or current_thickness == "4" %}
                                                                                Thickness = {{ current_thickness }} ply
                                                                        {% else %}
                                                                                Thickness = {{ current_thickness }}
                                                                        {% endif %}
                                                                </a>
                                                        {% endif %}

                                                        {% if current_prices %}
                                                                <a class=" rounded-pill sort-pill"
                                                                   href="{% url 'allproducts'%}?price={{ current_prices }}"
                                                                   aria-label="takes you to products with Price = {{ current_prices }}">
                                                                        {% if current_prices == '(0,2)' %}
                                                                                Price = £ 0-2
                                                                        {% elif current_prices == '(2,4)' %}
                                                                                Price = £ 2-4
                                                                        {% elif current_prices == '(4,6)' %}
                                                                                Price = £ 4-6
                                                                        {% elif current_prices == '(6,10)' %}
                                                                                Price = £ 6-10
                                                                        {% elif current_prices == '(10,20)' %}
                                                                                Price = £ 10+
                                                                        {% endif %}
                                                                </a>
                                                        {% endif %}
                                                        {% if sales %}
                                                                <a class=" rounded-pill sort-pill"
                                                                   href="{% url 'allproducts'%}?sale=on"
                                                                   aria-label="takes you to products on promotion">
                                                                        On sale
                                                                </a>
                                                        {% endif %}

                                                        {% if natural %}
                                                                <a class=" rounded-pill sort-pill"
                                                                   href="{% url 'allproducts'%}?natural=on"
                                                                   aria-label="takes you to products with only natural fibres">
                                                                        100% natural yarns
                                                                </a>

                                                        {% endif %}
                                                        {% if machine_wash %}
                                                                <a class=" rounded-pill sort-pill"
                                                                   href="{% url 'allproducts'%}?machine_wash=on"
                                                                   aria-label="takes you to products which are machine washable">
                                                                        Machine washable
                                                                </a>

                                                        {% endif %}

                                                        {% if current_query %}
                                                                <span class="rounded-pill sort-pill"> Search = {{ current_query }} </span>
                                                        {% endif %}

                                                        {% if current_prices or machine_wash or natural or sales or current_query or current_brand or current_fibres or current_thickness %}
                                                                <a href="{% url 'allproducts' %}" class="ms-2"
                                                                   aria-label="removes all search terms and filters to
                                                                               reload the page"> <i class="fa-solid fa-xmark"></i> Reset</a>

                                                        {% endif %}
                                                </p>
                                        </div>
                                        <div class="col-4">
                                                <p class="right-align small-text">
                                                        {{ product_list|length }}
                                                        {% if product_list|length == 1 %}
                                                                yarn
                                                        {% else %}
                                                                yarns
                                                        {% endif %}

                                                </p>
                                        </div>
                                        {% if product_list|length == 0 %}
                                                <div class="row justify-content-center mt-4 text-center">
                                                        <div class="col-8 mb-4">
                                                                <p class="subtitle2">
                                                                        Sorry there were no yarns which matched your search criteria
                                                                </p>
                                                        </div>
                                                        <div class="col-5mt-4">
                                                                <a href="{% url 'allproducts' %}" class="btn btn-second"
                                                                   aria-label="removes all search terms and filters to
                                                                               reload the page"> Back </a>
                                                        </div>
                                                </div>
                                        {% endif %}



                                        {% for product in product_list %}
                                                {% if product.visible %}
                                                        <div class="col-12 col-md-6 col-lg-4 text-center">

                                                                <div class="card">
                                                                        <a class="card-link" href="{% url 'productdetail' product.slug %} "
                                                                           aria-label="takes you to a page where you can find out more information about {{ product.name }}">
                                                                                <div class="prod-image-container">
                                                                                        <img src="{{ product.image.url }}"
                                                                                             class="card-img-top product-page-images"
                                                                                             alt=" A picture of {{ product.name }}">
                                                                                        {% if product.on_promotion %}
                                                                                                <span class="translate-middle sale-ticket"><i
                                                                                                        class=" sale-icon fa-solid fa-tags"></i>
                                                                                                        <span class="visually-hidden"> On promotion</span>
                                                                                                </span>
                                                                                        {% endif %}
                                                                                </div>
                                                                                <div class="card-body">
                                                                                        <p><span class="uppercase-text"><strong>{{ product.brand_id.name }}</strong></span>
                                                                                                {{ product.name }}</p>
                                                                                        <p class="small-text">{{ product.skein_weight }}g / {{ product.thickness_id.name }} / {{ product.fibre }}</p>
                                                                                        <p>
                                                                                                {% if product.on_promotion %}
                                                                                                        <span class="small-text pre-sale-price">£{{ product.price }} </span>
                                                                                                        <span class="sale-price"> £{{ product.price|discount:rate.sale_percent|floatformat:2 }}</span>
                                                                                                {% else %}
                                                                                                        <strong>£{{ product.price }}</strong>
                                                                                                {% endif %}
                                                                                        </p>
                                                                                        
                                                                                </div>
                                                                        </a>
                                                                </div>

                                                        </div>
                                                {% endif %}
                                        {% endfor %}
                                </div>
                        </div>

                </div>
                <div class="row mb-4">

                </div>
        </div>
        <div class="to-top">
                <a class="d-flex h-100 to-top-link">
                        <i class="fa-solid fa-arrow-up"></i>
                </a>
        </div>
        <div class="offcanvas offcanvas-start" id="mob-filter-sort" tab-index="-1"
             aria-label="filter and sort yarns" data-bs-backdrop="static">
                <div class="container offcanvas-body">
                        <div class="row">
                                <div class="col-6 text-start ms-auto">
                                        <img src="{% static 'images/logo.webp' %}" alt="Loopy yarn shop logo"
                                             id="mob-header-logo"></a>
                        </div>
                        <div class="col-6 text-end">
                                <a type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i
                                        class="fa-solid fa-x"></i></a>
                        </div>
                </div>
                {% include 'product/includes/filter-and-sort.html' %}
        </div>
{% endblock %}

{% block extrapostjs %}
        {{ block.super }}

        <script src="{% static 'product/js/product.js' %}"></script>
{% endblock %}