{% extends 'base.html' %}
{% load static %}
{% load tag-tools %}
{% load crispy_forms_tags %}

{% block titlehead %} {{ prod.brand_id.name }} {{ prod.name }} {% endblock %}

{% block headdescription %} Buy {{ prod.brand_id.name }} {{ prod.name }} from Loopy Yarns {% endblock %}

{% block headkey %} {{ prod.brand_id.name }}, {{ prod.name }}, {{ prod.fibre }}, Loopy yarns, online yarn shop
{% endblock %}

{% block extracss %}
        <link rel="stylesheet" href="{% static 'product/css/product.css' %}">
{% endblock %}

{% block page_header %}
        <div class="top-padding">
        </div>
{% endblock %}

{% block content %}

        <div class="container p-4">
                <div class="row mb-2">
                        <div class="col-12 ms-2 me-2">
                                <h1 class="page-heading "> <span class="uppercase-text">{{ prod.brand_id.name }}</span> {{ prod.name }}, <span class="subtitle2">{{ prod.skein_weight }}g</span> </h1>
                        </div>
                </div>
                <div class="row align-items-start mt-4 ">
                        <div class="col-12 mb-4 mb-md-0 col-md-6">
                                <div class="prod-image-container mb-4">
                                        <img src="{{ prod.image.url }}"
                                             class="card-img-top product-page-images"
                                             alt=" A picture of {{ prod.name }}">
                                        {% if prod.on_promotion %}
                                                <span class="translate-middle sale-ticket"><i
                                                        class=" sale-icon fa-solid fa-tags"></i>
                                                        <span class="visually-hidden"> On promotion</span>
                                                </span>
                                        {% endif %}
                                </div>
                                <p class="centre-align mt-4"><span class="green bold">{{ no_colours }}</span> Shades available </p>
                                <p class="centre-align">{% if prod.machine_wash %}<i class="fa-solid fa-check green"></i> Machine washable
                                {% endif %}
                                        {% if prod.natural_fibres %}
                                                <i class="fa-solid fa-check green"></i> 100% Natural fibres
                                        {% endif %}
                                </p>
                        </div>
                        <div class="col-12 col-md-6">
                                <div class="row ms-2 me-2 d-grid justify-content-end">
                                        <div class="col-12 text-end">
                                                {% if prod.on_promotion %}
                                                        <span class="pre-sale-price">£{{ prod.price }} </span>
                                                        <span class="subtitle2 sale-price"> £{{ prod.price|discount:rate.sale_percent|floatformat:2 }}</span>
                                                {% else %}
                                                        <span class="subtitle2"><strong>£{{ prod.price }}</strong></span>
                                                {% endif %}
                                        </div>
                                </div>
                                <div class="row ms-2 me-2 mb-4 ">
                                        <div class="col-12">

                                                <p class="mb-4"> {{ prod.summary }}</p>
                                                <p> </p>

                                        </div>
                                </div>
                                <div class="row d-grid justify-content-center mb-4">
                                        <div class="col-12 col-lg-12">
                                                <form method="POST" action="#">
                                                        <div  class="mb-4 div-colour-select-form">
                                                        <div class="mini-selected-swatch">
                                                        </div>
                                                            <select name="colour_var" class="select form-select form-select-sm"
                                                             aria-label="colour options available" id="colour-options-form">
                                                            <option value="0" selected>Choose a colour </option>
                                                            {% for c in colour_options %}
                                                            <option value="{{ c.id }}"> {{ c.colour_cat_id.colour_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        
                                                        </div>

                                                        <div id="quantity-selector-div">
                                                        <input class="form-control" type="number" name="quantity" value="1"
                                                               min="1"
                                                               max="100"
                                                               data-item_id="{{ prod.product.id }}">
                                                        </div>
                                                               <div class="text-center">
                                                                <a type="submit" aria-label="" class="btn btn-main mb-4 mt-4" role="button"> Add to basket</a>
                                                        </div>
                                                        
                                                </form>
                                        </div>
                                </div>

                        </div>
                </div>

                <div class="row mt-4 mb-4">
                    <div class="col-12 mt-4 mb-4">
                        <h2 class="subtitle">Essential Details:</h2>
                    </div>
                        <div class="col ms-2 me-2">
                                <div class="accordion" id="product-info">
                                        <div class="mb-3 accordion-item">
                                                <a class="accordion-button dropdown-toggle collapsed" type="button" data-bs-toggle="collapse"
                                                   data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                        Product Specification
                                                </a>
                                                <div id="collapseOne" class="accordion-collapse collapse">
                                                        <p><span class="bold">Thickness: </span> {{ prod.thickness_id.name }}</p>
                                                        <p><span class="bold">Fibre content: </span> {{ prod.fibre }}</p>
                                                        <p><span class="bold">Weight: </span> {{ prod.skein_weight }}g</p>
                                                        <p><span class="bold">Length: </span> {{ prod.skein_length }}m</p>

                                                </div>
                                        </div>
                                        <div class="mb-3 accordion-item">
                                                <a class="accordion-button  dropdown-toggle collapsed" type="button" data-bs-toggle="collapse"
                                                   data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        Care Instructions
                                                </a>
                                                <div id="collapseTwo" class="accordion-collapse collapse">
                                                        {% if prod.machine_wash %}
                                                                <p> Machine washable
                                                                        {% if prod.wool_cycle %}
                                                                                using wool cycle
                                                                        {% endif %}
                                                                </p>
                                                        {% else %}
                                                                <p> Hand wash only </p>
                                                        {% endif %}
                                                        {% if prod.washing_temp %}
                                                                <p><span class="bold">Temperature: </span>{{ prod.washing_temp }}deg C</p>
                                                        {% endif %}
                                                        {% if not prod.tumble_dry %}
                                                                <p> Do not tumble dry
                                                                        {% if prod.dry_flat %}
                                                                                , dry flat
                                                                        {% endif %}
                                                                </p>
                                                        {% else %}
                                                                <p> Tumble dry </p>
                                                        {% endif %}
                                                </div>
                                        </div>
                                        <div class="mb-3 accordion-item">
                                                <a class="accordion-button dropdown-toggle collapsed" type="button" data-bs-toggle="collapse"
                                                   data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        Tips & Patterns
                                                </a>
                                                <div id="collapseThree" class="accordion-collapse collapse">

                                                        <p><span class="bold">Recommended needle size: </span> {{ prod.needle_size }}mm</p>
                                                        <p><span class="bold">Tension*: </span> {{ prod.knitting_tension }}</p>
                                                        <p><span class="small-text">* gives a 10 x 10 cm squre when using recommended needles </span> </p>
                                                        <p>  </p>
                                                        <p> For patterns using this yarn, take a look at the {{ prod.brand_id.name }} website
                                                                <a href="{{ prod.brand_id.manufacturer_patterns }}"
                                                                   aria-label="takes you to {{ prod.brand_id.name }}'s website"
                                                                   target="_blank" rel="noopener">here</a> </p>
                                                </div>
                                        </div>
                                </div>
                        </div>


                </div>

                <div class="row mt-4">
                        <div class="col-12 mt-4 mb-4">
                                <h2 class="subtitle">Colour Options:</h2>
                        </div>
                        </div>
                        <div class="row mb-4 mt-4 justify-content-center">
                        <div class="col-12 col-lg-10">
                                <div class="row">
                                        {% for c in colour_options %}
                                                
                                                <div class="col-4 col-sm-3 col-md-2 text-center
                                                {% if forloop.counter > 24 %} swatches-hidden {% endif %}" >
                                                        <div class="swatch-container"  >
                                                                <img src="{{ c.colour_cat_id.image.url }}" 
                                                                alt="colour swatch for {{ c.colour_cat_id.colour_name }}" 
                                                                class="swatches colvar_id_{{ c.id }}"
                                                                data-colvar_id="{{ c.id }}">
                                                                {% if c.low_stock %}
                                                                        <span class="very-small-text low-stock rounded-pill"> Low stock </span>
                                                                {% endif %}
                                                        </div>
                                                        <p class="centre-align mt-2 mb-0 small-text">{{ c.colour_cat_id.colour_name|capfirst }}</p>
                                                        <p class="centre-align very-small-text pb-0 mb-0">{{ c.shade_code }} | {{ c.dye_lot }}</p>
                                                        <p class="centre-align very-small-text">Shade | Dye lot </p>
                                                </div>
                                                
                                        {% endfor %}
                                        {% if no_colours > 24 %}
                                        <div class="col-12 text-end pt-4 pe-4 me-4">
                                            <p id="clip-swatches">Show more...</p>
                                        </div>
                                        {% endif %}
                                </div>
                        </div>

                        <div class="row mt-4">
                        <div class="col-12 mt-4 mb-4">
                                <h2 class="subtitle">Reviews:</h2>
                        </div>
                        </div>
                        <div class="row mb-4 mt-4 justify-content-center">
                        <div class="col-12 col-lg-10">
                                <div class="row">
                                    Add reviews here
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                        <div class="col-12 mt-4 mb-4">
                                <h2 class="subtitle">You may also like:</h2>
                        </div>
                        </div>
                        <div class="row mb-4 mt-4 justify-content-center">
                        <div class="col-12 col-lg-10">
                                <div class="row">
                                    Product suggestions here
                                </div>
                            </div>
                        </div>

                </div>
                <div class="to-top">
                        <a class="d-flex h-100 to-top-link">
                                <i class="fa-solid fa-arrow-up"></i>
                        </a>
                </div>
{% endblock %}

{% block extrapostjs %}
        {{ block.super }}

        <script src="{% static 'product/js/product.js' %}"></script>
{% endblock %}