.card-link,
.card-link:hover,
.card-link:active{
    color:var(--primary-text-color);
    text-decoration: none;
}

.product-page-images{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 28rem;
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem var(--shadow-color);
}


.card{
    border:none;
    display:flex
}

.prod-image-container{
    position:relative;
    max-width: 28rem;
    justify-self: center;
}
.pre-sale-price{
    text-decoration: line-through;
}

.sale-price{
    color:var(--error-color);
    font-weight: bold;
}

.sale-icon{
    font-size: 4rem;
    color: var(--error-color);
}

.sale-ticket{
    position:absolute;
    top:3rem;
    left:3rem;
}

.filter-column{
    margin-top:4rem;
    margin-right:2rem;
    border-right:1px solid var(--shadow-color);
}

.sort-select{
    width:15rem;
}

.accordion-button{
    font-size: 1.6rem;
    padding-right:2rem;
    color:var(--primary-text-color);
}

.accordion-button:not(.collapsed),
.accordion-button:hover{
    color:var(--primary-text-color);
}

a{
    text-decoration: none;
}


div#filter-acc.accordion{
    --bs-accordion-border-color:none;
}

.all-products-head{
    height:6rem;
    width:auto;
    padding-right:2rem;
}

#mob-filter-sort{
    margin-top:9rem;
}

.sort-pill{
    background-color: var(--shadow-color);
    color:var(--primary-text-color);
    padding:0.3rem 0.8rem 0.3rem 0.8rem;
    margin-bottom:2rem;
    margin-left:0.8rem;
}

.swatches{
    width: 22vw;
    max-width: 8rem;
    height:auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.swatch-container{
    width:22vw;
    max-width:8rem;
    height:auto;
    position:relative;
    justify-self: center;
}


.low-stock{
    font-weight: 600;
    position: absolute;
    background-color: var(--error-color);
    color:var(--primary-background-color);
    top:0.8rem;
    left:-1.2rem;
    padding:0.1rem 0.6rem 0.1rem 0.6rem;
}

.swatches-hidden{
    display:none;
}

#clip-swatches{
    margin-bottom:10rem;
    cursor: pointer;
}

/*Media queries*/
/* for very small screen widths 370px and less */
@media screen and (max-width:370px){
    .all-products-head{
    display: none;
}
.page-heading{
    font-size: 2.8rem;
}
}
/* for screens of md and above */
@media screen and (min-width:576px){
    .sort-select{
        width:18rem;
    }
}