.card-link,
.card-link:hover,
.card-link:active{
    color:var(--primary-text-color);
    text-decoration: none;
}

.product-page-images{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 28rem;
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem var(--shadow-color);
}

.card{
    border:none;
}