.all-products-head{
    height:6rem;
    width:auto;
    padding-right:2rem;
}

.divide-image{
    height:6rem;
    width:auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

.divider-dec{
    color:var(--decorative-color);
    opacity: 100%;
}

.order-div{
    color:var(--background-highlight-color);
    opacity: 100%;
    margin-top:2rem;
    margin-bottom: 2rem;

}
.form-label{
    font-size: 1.2rem;
    margin-bottom:0;
}