.all-products-head{
    height:6rem;
    width:auto;
    padding-right:2rem;
}

.divide-image{
    height:6rem;
    width:auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

.divider-dec{
    color:var(--decorative-color);
    opacity: 100%;
}

.order-div{
    color:var(--background-highlight-color);
    opacity: 100%;
    margin-top:2rem;
    margin-bottom: 2rem;

}
.form-label{
    font-size: 1.2rem;
    margin-bottom:0;
}

.product-image-thumb{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 3rem;
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem var(--shadow-color);
}

.order-summary{
    font-size: 1rem;
}

.small-text{
    font-size: 0.8rem;
}

.reorder{
    cursor:pointer;
}

.prod-image-container{
    position:relative;
    max-width: 28rem;
    justify-self: center;
}
.pre-sale-price{
    text-decoration: line-through;
}

.sale-price{
    color:var(--error-color);
    font-weight: bold;
}

.sale-icon{
    font-size: 4rem;
    color: var(--error-color);
}

.sale-ticket{
    position:absolute;
    top:3rem;
    left:3rem;
}

.fav-list-images{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 10rem;
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem var(--shadow-color);
}

.fav-icon{
    cursor: pointer;
}


i.fa-solid.fa-star{
    color:var(--background-highlight-color);
    opacity: 100%;
    cursor: pointer;
}

i.fa-regular.fa-star{
    color:var(--primary-text-color);
    opacity: 50%;
    cursor: pointer;
}

/* Media queries */
/* for sizes sm and above */
@media screen and (min-width:350px){
   .order-summary{
    font-size: 1.2rem;
   }
   .small-text{
    font-size:1rem;
   }
   .product-image-thumb{
    max-width: 6rem;
   }
   .fav-list-images{
    max-width: 16rem;
   }
}

/* for sizes md and above in Bootstrap */
@media screen and (min-width:576px){
    .order-summary{
        font-size: 1.6rem;
    }
    .small-text{
        font-size:1.2rem;
    }
}
/* for sizes lg and above in Bootstrap */
@media screen and (min-width:992px){

}

}