{% extends 'base-admin.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titlehead %} Shop Settings {% endblock %}

{% block headdescription %} {% endblock %}

{% block headkey %} {% endblock %}

{% block extracss %}

{% endblock %}


{% block page_header %}
    <div class="top-padding">
    </div>
{% endblock %}


{% block content %}
    <div class="container p-4">
        <div class="row pt-4 mb-4">
            <div class="col-12 ">
                <img src="{% static 'images/balls-in-a-line.png'%}" alt="illustration of balls of wool"
                     class="all-products-head d-none d-sm-inline">

                <h1 class="page-heading ms-2 d-inline"> Shop Settings </h1>
            </div>
        </div>

        <div class="row pt-4 mb-4 justify-content-around">
            <div class="col-12, col-md-3 col-lg-4">
                <ul class="side-menu">
                    <li class="sub-menu"><a href="#address" aria-label="Update shop address">
                        <i class="fa-solid fa-location-dot me-4"></i>Shop Address </a></li>
                    <li class="sub-menu"><a href="#sale"
                                            aria-label="Update percentage discount applied to sale items">
                        <i class="fa-solid fa-tags me-4"></i>Sale Settings </a></li>
                    <li class="sub-menu"><a href="#promo" 
                        aria-label="update promotional policies to encouarge larger orders">
                        <i class="fa-solid fa-bullhorn me-4"></i>Promotional Discounts </a></li>
                    <li class="sub-menu"><a href="{% url 'admin:core_postage_changelist' %}"
                                            aria-label="Update postage settings for online orders">
                        <i class="fa-solid fa-truck me-4"></i>Postage </a></li>
                    <li class="sub-menu"><a href="{% url 'admin:core_userprofile_changelist' %}"
                                            aria-label="View customer details such as address and phone number">
                        <i class="fa-solid fa-users me-4"></i>Customer Management </a></li>
                </ul>
            </div>
            <div class="col-12 col-md-9 col-lg-7">
                <div class="row">
                    <div class="col-12" id="address">
                        <h2 class="subtitles uppercase-text pb-4"><i class="fa-solid fa-location-dot me-4"></i>Shop Address</h2>
                        <p> Update shop contact information visible to customers.</p>

                        <div >
                            <form action="{% url 'update_shopsettings' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {{ shop_form.shop_email| as_crispy_field }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ shop_form.shop_phone| as_crispy_field }}
                                    </div>
                                    <div class="col-12">
                                        {{ shop_form.shop_street_address1| as_crispy_field }}
                                    </div>
                                    <div class="col-12">
                                        {{ shop_form.shop_street_address2| as_crispy_field }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ shop_form.shop_town| as_crispy_field }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ shop_form.shop_county| as_crispy_field }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ shop_form.shop_postcode| as_crispy_field }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ shop_form.shop_country| as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row justify-content-end mt-4">
                                    <div class="col-12 text-end pt-4">
                                        <input class="ms-4 btn btn-main"  type="submit" value="Update!">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center mt-4 mb-4">
                        <div class="col-8">
                            <hr class="divider-dec">
                        </div>
                    </div>
                    <div class="col-12 mt-4" id="sale">
                        <h2 class="subtitles uppercase-text pb-4"><i class="fa-solid fa-tags me-4"></i>Sale Settings</h2>
                        <p> Applied to all yarns on sale: </p>
                        <form action="{% url 'update_salesettings' %}" method="POST">
                            {% csrf_token %}
                            <div id="div_id_sale_percent" class=" input-group mb-3">
                                <label for="id_sale_percent" class="form-label requiredField me-4">
                                    Discount*
                                </label>
                                <input type="number" name="sale_percent"  max="60" min="0"
                                       value="{{ sale_rate }}"
                                       class="form-control numberinput ms-4" required id="id_sale_percent">
                                <span class="input-group-text"> %
                                </span>
                            </div>
                            <div class="row justify-content-end mt-4">
                                <div class="col-12 text-end pt-4">
                                    <input class="ms-4 btn btn-main" type="submit" value="Update!">
                                </div>
                            </div>
                        </form>
                        <p class="small-text">* percentage discount is removed from full price when a yarn is 'on sale'</p>
                        <p> View & update:</p>
                        <a class=" me-4"
                           href="{% url 'admin:product_product_changelist' %}?on_promotion__exact=1"
                           aria-label=""> Sale items</a>
                        <a class=" ms-4"
                           href="{% url 'admin:product_product_changelist' %}?on_promotion__exact=0"
                           aria-label=""> Non sale items</a>
                    </div>
                    <div class="row justify-content-center align-items-center mt-4 mb-4">
                        <div class="col-8">
                            <hr class="divider-dec">
                        </div>
                    </div>

                    <div class="col-12 mt-4" id="promo">
                        <h2 class="subtitles uppercase-text pb-4"><i class="fa-solid fa-bullhorn me-4"></i>Promotions</h2>
                        <p> Offer applied to all larger orders: </p>
                        
                        <div id="which">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="bulk" value="freeshipping" id="freeshipping" {% if not current.bulk_buy %} checked {% endif %}>
                                <label class="form-check-label" for="freeshipping">
                                    Free 2nd class shipping
                                </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="bulk" value="percent" id="percent" {% if current.bulk_buy %} checked {% endif %}>
                            <label class="form-check-label" for="percent"
                            >
                            % discounts
                            </label>
                        </div>
</div>
                        <form action="{% url 'update_announcements' %}" method="POST" id="shipping-offer" >
                            {% csrf_token %}
                            
                            <div id="div_id_upper_ball_num_ship" class="mb-3 input-group">
                   
                            <label for="id_upper_ball_num_ship" class="form-label an-form">
                                Threshold for free shipping
                            </label>  
                        <input type="number" name="upper_ball_num" 
                        value="{{ announcement.upper_ball_num }}" 
                         class="numberinput form-control" id="id_upper_ball_num_ship" min="0" max="100">
                        <span class="input-group-text an"> balls </span>
                </div>
                            

                            <div class="row justify-content-end mt-4">
                                <div class="col-12 text-end pt-4">
                                    <input type="hidden" name="bulk_buy" value="False">
                                    <input type="hidden" name="lower_ball_num" value="0">
                                    <input type="hidden" name="lower_discount" value="0">
                                    <input type="hidden" name="upper_discount" value="0">
                                    <input class="ms-4 btn btn-main" type="submit" value="Update!">
                                </div>
                            </div>
                        </form>

                        <form action="{% url 'update_announcements' %}" method="POST" id="bulk-offer" >
                            {% csrf_token %}
                            <div id="div_id_lower_ball_num" class="mb-3 input-group"> 
                                <label for="id_lower_ball_num" class="form-label an-form">
                Lower threshold
            </label> 
            <input type="number" name="lower_ball_num" value="{{ announcement.lower_ball_num }}" 
             class="numberinput form-control" id="id_lower_ball_num" min="0"> 
            <span class="input-group-text an"> balls</span>
        </div> 
        <div id="div_id_lower_discount" class="mb-3 input-group"> 
            <label for="id_lower_discount" class="form-label an-form">
                Lower discount
            </label> 
            <input type="number" name="lower_discount" value="{{ announcement.lower_discount }}" 
            class="numberinput form-control" id="id_lower_discount" min="0"> 
            <span class="input-group-text an">%</span>
        </div> 
            <div id="div_id_upper_ball_num" class="mb-3 input-group"> 
                <label for="id_upper_ball_num" class="form-label an-form">
                Upper threshold
            </label> 
            <input type="number" name="upper_ball_num" value="{{ announcement.upper_ball_num }}" 
            class="numberinput form-control" id="id_upper_ball_num" min="0"> 
        <span class="input-group-text an"> balls</span>
        </div> 
            <div id="div_id_upper_discount" class="mb-3 input-group"> 
                <label for="id_upper_discount" class="form-label an-form">
                Upper discount
            </label> <input type="number" name="upper_discount" value="{{ announcement.upper_discount }}" 
            class="numberinput form-control" id="id_upper_discount" min="0"> 
            <span class="input-group-text an"> %</span>
        </div>
                            <div class="row justify-content-end mt-4">
                                <div class="col-12 text-end pt-4">
                                    <p id="error-messages" class="red bold"></p>
                                    <input type="hidden" name="bulk_buy" value="True">
                                    <a id="bulk" class="ms-4 btn btn-main" role="button">Update!</a>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    <div class="row justify-content-center align-items-center mt-4 mb-4">
                        <div class="col-8">
                            <hr class="divider-dec">
                        </div>
                    </div>

                </div>
                
            </div>

        </div>

    </div>

    <div class="to-top">
        <a class="d-flex h-100 to-top-link">
            <i class="fa-solid fa-arrow-up"></i>
        </a>
    </div>

{% endblock %}

{% block extrapostjs %}
    {{ block.super }}
    <script src="{% static 'management/js/management.js' %}" ></script>
{% endblock %}