.navbar{
    background-image: linear-gradient(180deg, #fff , #f7f7f3);
    margin-top:0.8rem;
    padding-bottom: 0.8rem;
}

#mobile-nav{
    position:fixed;
    top:0rem;
    padding-top:2rem;
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom:2rem;
    background-image: linear-gradient(180deg, #fff , #fbfaf9);
}

.footer{
    height:auto;
}

nav .dropdown-menu[data-bs-popper],
nav .dropdown-menu{
    margin-top:0.5rem;
    left:-10vw;
    }

.all-products-head{
    height:6rem;
    width:auto;
    padding-right:2rem;
}

.card-admin-home{
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-text-color);
    box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem var(--shadow-color);
    min-height:20rem;

}

.card-link{
    cursor: pointer;
    text-decoration:none !important;
}