.navbar{
    background-image: linear-gradient(180deg, #fff , #f7f7f3);
    margin-top:0;
    padding-bottom: 0.8rem;
}

#mobile-nav{
    position:fixed;
    top:0rem;
    padding-top:2rem;
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom:2rem;
    background-image: linear-gradient(180deg, #fff , #fbfaf9);
}

.footer{
    height:auto;
}

nav .dropdown-menu[data-bs-popper],
nav .dropdown-menu{
    margin-top:0.5rem;
    left:-10vw;
    }

.all-products-head{
    height:6rem;
    width:auto;
    padding-right:2rem;
}

.card-admin-home{
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-text-color);
    box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem var(--shadow-color);
    min-height:20rem;

}

.card-link{
    cursor: pointer;
    text-decoration:none !important;
}

.divider-dec{
    color:var(--decorative-color);
    opacity: 100%;
}

.side-menu{
    list-style: none;
    padding-top:1rem;
    padding-bottom:2rem;
}

.sub-menu{
    margin-top:1rem;
    text-decoration: none;
}

#id_sale_percent,
#id_upper_ball_num,
#id_lower_ball_num,
#id_lower_discount,
#id_upper_discount{
    text-align: right;
}

.input-group-text{
    font-size:1.6rem;
    font-weight:600;
    color:var(--primary-text-color);
    border:none;
    background-color: var(--primary-background-color);
}

.an-form{
    width:18rem;
}
.an{
    width:6rem;
}

#which{
    padding-top:1rem;
    padding-bottom:4rem;
}
/* for sizes md and above in Bootstrap */
@media screen and (min-width:576px){

    #side-menu{
        padding-top:3rem;
    }



}
/* for sizes lg and above in Bootstrap */
@media screen and (min-width:992px){

    
}