.all-products-head{
    height:6rem;
    width:auto;
    padding-right:2rem;
}

.product-image-thumb{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 6rem;
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem var(--shadow-color);
}

.colour-image{
    height: 3rem;
    width:3rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.pre-sale-price{
    text-decoration: line-through;
}

.sale-price{
    color:var(--error-color);
    font-weight: bold;
}

.form-label{
    font-size: 1.2rem;
    margin-bottom:0;
}

.StripeElement{
    border: 1px solid var(--primary-text-color);
    border-radius: 0.25em;
    padding:0.375em 0.75em;
    color:var(--primary-text-color);
    font-size: 1.6rem;
    margin-top:1rem;
}

.StripeElement:focus,
.StripeElement:hover{
    box-shadow: 0 0 0 0.25rem var(--shadow-color);
}

.InputElement .is-invalid{
    color: var(--error-color);
}

.order-summary{
    font-size: 1rem;
}

.small-text{
    font-size:0.8rem;
}

#loading-overlay{
    display: none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: var(--primary-background-color);
    opacity: 80%;
    z-index: 9999;
}
.loading-spinner{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    height:100%
}

/* to format Google address input widget */

gmp-place-autocomplete::part(focus-ring){
    display:none;
}
gmp-place-autocomplete{
    color:var(--primary-text-color);
    border-color: var(--primary-text-color);
    font-family:var(--primary-font);
}

/* code from https://cssloaders.github.io/#circle  */
.loader {
  --color-1: #990099;
  --color-2: #009999;
  --size: 0.1rem;

  width: calc(84 * var(--size));
  height: calc(84 * var(--size));
  position: relative;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: calc(84 * var(--size));
  height: calc(84 * var(--size));
  border-radius: 50%;
  background: var(--color-1);
  animation: push 1s infinite linear alternate;
}
.loader:after {
  top: auto;
  bottom: 0;
  left: 0;
  background: var(--color-2);
  animation-direction: alternate-reverse;
}
@keyframes push {
  0% {
    width: calc(14 * var(--size));
    height: calc(14 * var(--size));
  }
  100% {
    width: calc(84 * var(--size));
    height: calc(84 * var(--size));
  }
}

/* Media queries */
/* for sizes sm and above */
@media screen and (min-width:350px){
   .order-summary{
    font-size: 1.2rem;
   }
   .small-text{
    font-size:1rem;
   }
}

/* for sizes md and above in Bootstrap */
@media screen and (min-width:576px){
    .order-summary{
        font-size: 1.6rem;
    }
    .small-text{
        font-size:1.2rem;
    }
}
/* for sizes lg and above in Bootstrap */
@media screen and (min-width:992px){

}
