{% load static %}

<div class="toast-container message-container" >
    <div class="toast pe-3 mb-3" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" >
      <div class="toast-body toast-error">
        <div class="row ">
          <div class="col-1 ms-auto">
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
        <div class="row align-contents-center text-start">
          <div class="col-3">
            <img src="{% static 'images/red.png' %}" class="logo-toast" alt="Logo in error colours">
          </div>
          <div class="col-9">
            {{ message | safe }}
          </div>
      </div>
    </div>
  </div>

  <div class="toast-container p-3 bottom-0 end-0">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body">
        <img src="{% static 'images/red.png' %}" class="me-2 me-auto" alt="Logo in warning colours">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      <div class="toast-body">
        {{ message | safe }}
      </div>
    </div>
  </div>
